.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;                  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.logo:hover{
    cursor: pointer;
}
.logo span{
    font-size: 18px;
    font-weight: 900;
}

.home-button{
    margin-right: 30px !important;
}



.MuiIconButton-colorPrimary{
    color: rgb(211, 52, 37)!important;
}